<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">
</head>
 <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
 </style>
<body>
<div id="map"></div>
<div ng-app="HelloUserApp">
    <div id="coord-results" ng-controller="HelloUserController">
        <h1>{{!greeting}}</h1>
        <span>{{!timezone_name}}</span><hr/>
        <span>{{!timezone_time}}</span>
    </div>
</div>
<a href="websocket" target="_blank">Websocket client</a>
</body>

<script>
	   var ws = new WebSocket('ws://sarigumba.j-vazquez.com:8888/ws');
	   ws.onopen = function(){console.log("Open ws");};
	   ws.onclose = function(ev){console.log("Closing ws");};
	   ws.onerror = function(ev){console.log("Error");};
	   function initMap() {
			var map;
		    map = new google.maps.Map(document.getElementById('map'), {zoom: 1, mapTypeId: google.maps.MapTypeId.ROADMAP, center: new google.maps.LatLng(38.4161, 63.6167)});

		    google.maps.event.addListener(map, 'click', function (e) {
		   		$.ajax({
		   		  type: "POST",
		   		  url: "/api-haversine",
		   		  data: {"latitude": e.latLng.lat(),
						"longitude": e.latLng.lng()},
		   		  success: function(data){
				   		var scope = angular.element(document.getElementById("coord-results")).scope();
				     	scope.$apply(function () {
				     		scope.updateTz(data);
				     		var received = JSON.parse(data);
					   		ws.send(JSON.stringify({"timezone_name": received.timezone_name,
									"timezone_time": received.timezone_time,
					   				"latitude": e.latLng.lat(),
					   				"longitude": e.latLng.lng()}));
				     	});
		   		   }
		   		});
		    });

	   }
</script>
<script type="text/javascript" src="/static/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/static/timezone-controller.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXDJ4dN-WohnRzJe5uT_CjKuVd0tZz6pA&callback=initMap" async defer></script>
</html>
